<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias" [class.success]="idSelected === categoria.id">
      <td>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input glyphicon glyphicon-ok" type="checkbox" [checked]="isSelected(categoria.id)" (click)="selectCheckBox(categoria.id, categoria.nome)">
          </div>
        </div>
      </td>
      <td>{{categoria.id}}</td>
      <td>{{categoria.nome}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <br/>
        <p *ngIf="habilitaMsgQuantidade()">Total de categorias cadastradas : {{categorias.length}}</p>
        <p *ngIf="!habilitaMsgQuantidade()">Nenhuma categoria encontrada.</p>
      </td>
    </tr>
  </tfoot>
</table>

<a class="btn btn-primary btn_categoria_list" href="categoria/cadastrar">
  <p>
    <i class="material-icons">
      add_to_photos
    </i>
  </p>
</a>
<button class="btn btn-info btn_categoria_list" data-toggle="modal" data-target="#modalExemplo1" [disabled]="!habilitaBtns()">
  <p>
    <i class="material-icons">
        create
    </i>
  </p>
</button>
<button type="button" class="btn btn-danger btn_categoria_list"  data-toggle="modal" data-target="#modalExemplo" [disabled]="!habilitaBtns()">
  <p>
    <i class="material-icons">
        delete_sweep
    </i>
  </p>
</button>
<button type="button" class="btn btn-primary btn_categoria_list" data-toggle="modal" data-target="#modalExemplo2" [disabled]="!habilitaBtnVisualizarHistorico()">
  <i class="material-icons">
    remove_red_eye
  </i>
</button>
<app-hierarquia-categoria [id]="idSelected" [nomeCategoriaPai]="nomeCategoriaPai" [categorias]="categoriasFilhas"></app-hierarquia-categoria>
<app-remover-categoria [id]="idSelected" (categorias)="receiveEventOutput($event)"></app-remover-categoria>
<app-editar-categoria [id]="idSelected" (categorias)="receiveEventOutput($event)"></app-editar-categoria>
