.btn_categoria_list{
  color: aliceblue;
  height: 40px;
  width: 50px;
  margin-left: 5px;
}

.btn_categoria_hierarquia{
  color: aliceblue;
  height: 40px;
  width: 50px;
  margin-left: 15px;
}

.success{
  background-color: hsla(120, 83%, 93%, 0.4);
  color: brown;
}
